body {

  /* Initialisation du style général */
  
    background-image: url(img/Background.jpg);
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    font-family: 'Inter',Roobert,Helvetica Neue,Helvetica,Arial, sans-serif;
    font-weight: inherit;
   
}
  /* Selection de couleur */

::-moz-selection {
  color: #fff;
  background-color: #898c9f;
}
::selection {
  color: #fff;
  background-color: #898c9f;


}
