  /* Open : Annonce Gauche*/

  .opn-acn-box{
    position:absolute;
    top: 150px;
    left: 10px;
    
   
    margin: 0 auto;
    background: #1c2021;
    border-radius: 10px;
    max-width: 900px;
    min-width: 900px;
  
    padding: 10px;
    color: white;
    text-align: left;
    font-size: 20px;
    
  }
  
  h2{
    text-decoration:underline;
    text-align: center;
  
  }
  
  h4{
    text-decoration:underline;
    font-size: 20px;
  
  }

  /* Open : Annonce Droite*/

  .opn-log-box{
    position:absolute;
    top: 150px;
    right: 10px;
    
   
    margin: 0 auto;
    background: #1c2021;
    border-radius: 10px;
    max-width: 900px;
    min-width: 900px;
    height: 600px;
  
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
    
  }
  
  h1{
    text-decoration:underline;
    text-align: center;
    font-size: 20px;
  }

  button{
    background-color: #3a09ac;
    border: #3a09ac;
    color: white;
    padding: 20px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;

}

  .globe {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 975px;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
}

  .globe:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -20px -20px 50px 2px #000 inset;
  border-radius: 50%;
}

  .globe > div {
  width: 100%;
  height: 100%;
  animation: spin 30s linear alternate infinite;
  background: url(https://cdn.discordapp.com/attachments/590243706444054529/996859351602053160/IMG_1711.jpg);
  background-size: cover;
}
@keyframes spin {
  to {
    transform: translateX(-50%);
  }
}
