/* Information Projet : Sommaire*/
.projet-twitch-box{
  position:flex;
  box-sizing: border-box;    
  height: 20%;
  width: 50%;
 
  margin: 50px 300px;
  background: #1c2021;

  border-radius: 10px;
  padding: 10px;

  color: white;
  text-align: center;
  }

  
