/* Information Tool : Bot*/
.tool-bot-box{
    position:absolute;
    top: 100px;
    left: 600px;
    right: 600px;
   
    margin: 0 auto;
    background: #1c2021;
    border-radius: 10px;
  
    padding: 10px;
    color: white;
    text-align: center;
    
  }
